.main-container{
    .login-group{
        width: 100%;
        padding: 0.2rem;

        .prepend-icon-for-input{
        height: 100%;
        width: 2.5rem;
        }

        .login-controls{
        font-size: 1rem;
        outline: none;
        background: white;
        border-radius: 3px;
        margin-left: 3px;
        margin-top: 0px;
        }
    }


    .mat-action-button{
        width: 10rem;
        margin: 0.5rem;
    }
    
}